.selectedPage {
  font-weight: bold;
  text-decoration: underline;
}

.pageNum {
  margin-left: .5em;
  cursor: pointer;
}
.pageNum:last-child {
  margin-right: .5em;
}
.pagesNums{
  width: 100%;
  text-align: center;
}