
.messages {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 2em;
}
.message {
  padding-top: .5em;
}
.messages__textContainer{
  padding: 4%;
  display: flex;
  justify-content: center;
}
