.dialogsItems {
  border-right: 1px solid white;
  margin: 0;
  padding: 0;
  padding-top: 2em;
  list-style: none;
}
.dialogsItem{
  padding-top: 1em;

}
.dialogsItem a{
  text-decoration: none;
  list-style: none;
  color: gray;
}
.dialogsItem .activeLink  {
  color: green;
  border-bottom: 1px solid green;
}