.friends {
    align-self: center;
    min-height: 100vh;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    /*flex-direction: column;*/
    /*background-color: white;*/
    /*width: 12em;*/
    /*position: fixed;*/
    /*right: 0;*/
    /*height: 100vh;*/
}
.pages{
    display: flex;
    flex-wrap: wrap;
}

.userPhoto {
    border-radius: 50%;
    max-width: 200px;
}

.title {
    text-align: center;
}
.preloader{
    margin: 0 auto;
    width: 60px;
    height: 60px;
}
.friend{
    text-align: center;
    padding: 1%;
    margin: 0 auto;

}