.root{
background-color: #d0cfce;

}
/* ==============header */
.header{
margin: 0 auto;
object-position: fixed;
max-width: 1440px;
background-color: white;
height: 2vw;
}


.logo{
  max-width: 20px;
}
.nav{

}
.nav__items{
list-style: none;
}
.nav_item{

}
/* ============= main */
.main{
  max-width: 1440px;
  margin: 0 auto;
display: grid;
grid-template-columns: 20% 1fr 20%;
grid-gap: 30px;

}

.main__nav{
background-color: grey;
}

.main__nav-items{
  list-style: none;
}

.main__nav-item{

}
/* ========contain */
.content{

}
.author__ava{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;

}

.post{

  
}
.friends{

}

/* ===========footer */
.footer{

}





@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
